.topSub1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.topSub1 p{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.topSub1 span{
    font-weight: 800;
}
.img{
    width: 100%;
}

.topSub2{
    margin-top: 2rem;
}
.topSub2 p{
    font-size: 1.9rem;
}

@media  (max-width:800px) {
    .topSub1{
        flex-direction: column;
    }
}