.btn{
  border:1px solid greenyellow;
  padding: 10px;
  font-weight: 700;
}
.btn:hover{
  background-color: black;
  color: greenyellow;
  border: none;
}
/* style for top part of the root page  */
.container {
  position: relative;
  height: 85vh;
}

.content {
  z-index: 1; 
  position: relative; 
  width: 40%;
  top: 40%;
  padding: 50px;
}
.content h2{
  font-size: 2.9rem;
  margin-bottom: 1.3rem;
}
h2 .styleGreen{
  color: yellowgreen;
}
h2 .styleGray{
  color: lightslategrey;
}
.content h3{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.content h1{
  font-size: 3.7rem;
  color: yellowgreen;
}


.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black 40%, rgb(87, 100, 112));
  background-size: cover; 
  z-index: 0; /* Ensure background stays behind text content */
}
.heroImage{
  position: absolute;
  right: 0;
  height: 100%;
  opacity: 0.3;
}

/* style for the content part of the main page  */
.mainContent{
  background-color: white;
  color: black;
}
.centerContent{
  width: 60%;
  margin: 0 auto;
  padding: 5rem 0;
}

          /* style for sub content 1  */
.subContent1{
  display: flex; 
  justify-content: space-around;
}
.title{
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
}
.description{
  padding: 20px;
  width: 60%;
}
.description h3{
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.3rem;
}

      /* style for sub-content 2 */
.skillCard{
  display: flex;
  justify-content: space-between;
  
}

      /* style for sub-content 3 */
.heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.course{
  display: flex;
  justify-content: space-around;
}

      /* style for sub-content 4 */
.line {
  width: 40px; 
  height: 5px; 
  background-color: greenyellow; 
  margin: 2rem auto;
}
.stemInfo{
  width: 80%;
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: center;
}
   
      /* style for sub content 5 */