.container{
    background-color: rgb(22, 22, 22);
}
.header{
    width: 70%;
    margin: 0 auto;   
    padding: 5px 9px;
    position: relative;
}

                /* css for top part of the headr  */
.headerTop{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px 0;
}
.inlineComponents{
    display: flex;
    
}
.icon{
    margin: 2px 15px;
}
.auth{
    border-left: 1px solid white;
    display: flex;
}

                /* css for bottom part of the header  */
.headerBottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.navLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.logo{
    width: 200px;
}


.subDropdown1{
    position: relative;
    border-bottom: 2px solid black;
}
.subDropdownContent1{
    display: none;
    position: absolute;
    left: 12rem;
    top: 1rem;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
}
.subDropdown1:hover .subDropdownContent1{
    display: block;
}
.subBtn:hover *{
    color: yellowgreen;
}
/* .subDropdown1:hover{
    color: yellowgreen;
} */


.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 16px 3px 16px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdownContent{
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(22, 22, 22);
    z-index: 1;
    padding: 5px;
    border-radius: 8px;
}
.dropdownContent .link{
    display: block;
    padding: 10px 5px;
    border-bottom: 2px solid black;
}

.dropdown:hover .dropdownContent{
    display: block;
}
.dropdownContent a:hover{
    color: yellowgreen;
}

.teach_contact{
    display: flex;
    align-items: center;
}
.teachContactButton{
    border: 1px solid yellowgreen;
    padding: 5px;
}
.teachContactButton:hover{
    background-color: yellowgreen;
    color: black;
}