.mainContainer{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 2rem 0; */
}
.subContainer{
        width: 50%;
        
}
.header{
    display: flex;
    gap: 20px;
    margin: 2rem 0;
    background-color: whitesmoke;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
    padding: 1rem;
}